---
layout: default
title: Writing
permalink: /writing/
---

<div class="list-page">
  <div class="list-heading">
    <h1>Writing</h1>
  </div>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year_group in posts_by_year %}
  <div class="post-year-group">
    <div class="post-year">{{ year_group.name }}</div>
    <ul class="post-list">
      {% for post in year_group.items %}
      <li class="post-list-item">
        <a href="{{ post.url | relative_url }}" class="post-list-title">{{ post.title }}</a>
        <span class="post-list-date">{{ post.date | date: "%b %-d" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
